{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}
Редактирование данных группы "{{ group.name }}"
{% endblock %}

{% block page_content %}
    <p> </p>
    <h3>Текущее имя группы: "{{ group.name }}"</h3>
    {{wtf.quick_form(form, id="form_group_name_edit")}}
    <input type="submit" value="Изменить" form="form_group_name_edit">
    <br>
    <br>
     <h3>Текущий список студентов в группе:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_in_group %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ student.full_name }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ url_for('group_edit', id=group.id, cmd1="student", cmd2="delete", object_id=student.id) }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <br>

    <h3>Список студентов вне группы:</h3>
    <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_outside_group %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ student.full_name }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ url_for('group_edit', id=group.id, cmd1="student", cmd2="add", object_id=student.id) }}">Добавить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <br>
     <h3>Текущий список преподавателей группы:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers_in_group %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ teacher.full_name }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ url_for('group_edit', id=group.id, cmd1="teacher", cmd2="delete", object_id=teacher.id) }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <br>
        <h3>Список других преподавателей:</h3>
    <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers_outside_group %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ teacher.full_name }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ url_for('group_edit', id=group.id, cmd1="teacher", cmd2="add", object_id=teacher.id) }}">Добавить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <br>
    <a class="btn btn-primary" href="{{ url_for('group_show', id=group.id) }}">В режим просмотра</a>
{% endblock %}