{% extends "base.html" %}

{% block page_title %}Группы студентов{% endblock %}

{% block page_content %}
    <a class="btn btn-primary" href="{{ url_for('group_add') }}">Добавить</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ group.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" href="{{ url_for('group_show', id=group.id) }}">Просмотр</a>
                            <a class="btn btn-primary" href="{{ url_for('group_edit', id=group.id, cmd1="None", cmd2="None", object_id=0) }}">Редактировать</a>
                            <a class="btn btn-danger" href="{{ url_for('group_delete', id=group.id) }}">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}