{% extends "base.html" %}

{% block page_title %}Группа "{{ group.name }}"{% endblock %}

{% block page_content %}
    <p>Список студентов:</p>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Наименование</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.full_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Список преподавателей:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ teacher.full_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <a class="btn btn-primary" href="{{ url_for('group_edit', id=group.id, cmd1="None", cmd2="None", object_id=0) }}">Режим редактирования</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{{ url_for('groups_list') }}">В список групп</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{{ url_for('group_grading', group_id=group.id) }}">Выставить оценки</a>

{% endblock %}