{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}Тест выставление оценок{% endblock %}

{% block page_content %}
    <h2>Список студентов</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Студент</th>
                <th>Оценка</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.full_name }}</td>
                    <td>{{wtf.quick_form(form, id="form_student_add")}}</td>
                    <td>
                        <a class="btn btn-success" href="{{ url_for('student_show', id=student.id) }}">Сохранить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}