{% extends "base.html" %}

{% block page_title %}Студенты{% endblock %}

{% block page_content %}
    <h2>Список студентов</h2>
    <a class="btn btn-primary" href="{{ url_for('student_add') }}">Добавить</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.full_name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" href="{{ url_for('student_show', id=student.id) }}">Просмотр</a>
                            <a class="btn btn-primary" href="{{ url_for('student_edit', id=student.id) }}">Изменить</a>
                            <a class="btn btn-danger" href="{{ url_for('student_delete', id=student.id) }}">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}