{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_title %}Выставление оценок{% endblock %}

{% block page_content %}
    <h3>Группа "{{group.name}}", Курс "{{course.name}}", Блок "{{block.name}}", Задание "{{task.title}}"</h3>
    <br>
    <br>
    <h4>Поставьте оценку и нажмите "Сохранить"</h4>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Студент</th>
                <th>Оценка</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.full_name }}</td>
                    <td>
                        {{ wtf.quick_form(form, id="form_student_mark", action="url_for('group_grading', group_id=group.id, course_id=course.id, block_id=block.id, task_id=task.id, student_id=student.id)") }}
                    </td>
                    <td>

                        <input type="submit" value="Сохранить" form="form_student_mark">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}