{% extends "base.html" %}

{% block page_title %}Выставление оценок{% endblock %}

{% block page_content %}
    <h3>Группа "{{group.name}}", Курс "{{course.name}}", Блок "{{block.name}}"</h3>
    <br>
    <br>
    <h4>Выберите задание</h4>
    <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Задание</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ url_for('group_grading', group_id=group.id, course_id=course.id, block_id=block.id, task_id=task.id) }}">Открыть</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}